@{
    ViewData["Title"] = "Home Page";
}

@* <nav class="navbar bg-body-tertiary my-5">
    <form class="container-fluid w-50">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="text" class="form-control" placeholder="What you want to learn today?" aria-label="SearchBox" aria-describedby="basic-addon1">
         <a href="#" class="btn btn-success">Search</a>
        </div>
    </form>
</nav> *@



<div class="text-center my-5">
<img src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/header-search.png" alt="graduation img" />
</div>

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>


<div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space" style="height: 80px"><span class="vc_empty_space_inner"></span></div></div></div></div></div>


@* <div class="vc_row wpb_row vc_row-fluid vc_column-gap-30">
    <div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_right   fix-aligin-image">
                    <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="536" height="486" src="~/img/Coding workshop-bro.svg" alt="" title="img-1"  sizes="(max-width: 536px) 100vw, 536px"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div><div class="wpb_column vc_column_container vc_col-sm-6">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_empty_space" style="height: 50px"><span class="vc_empty_space_inner"></span></div><div class="thim-sc-heading text-left layout-kit title-margin-minus">
                    <div class="heading-content">
                        <h3 class="primary-heading">Welcome to</h3><h3 class="primary-heading-2">CourseBuider Kit</h3>
                    </div>
                    <p class="secondary-heading">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br>
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br>
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut<br>
                        aliquip. Adipisicing elit, sed do eiusmod tempor incididunt.
                    </p>
                </div>
                <div class="thim-sc-button  hide-separator ">
                    <a href="https://coursebuilder.thimpress.com/demo-kit/courses/" target="_self" class="btn btn-style_kit btn-md">
                        <span class="text">VIEW ALL</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

 *@

 <div class="container-fluid flex-column">
     <div class="row align-items-stretch">
     <img class="col-5" src="~/img/Coding workshop-bro.svg" />
    <div class="col-5 d-inline offset-1">
            <h1 class="text-center text-primary my-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                Welcome to coursera</h1>
            Coursera offers a digital learning environment where you can access a variety of educational content, including lectures, tutorials, and assignments, typically covering a wide range of subjects and skill levels. We provide interactive features such as quizzes, forums, and progress tracking, allowing learners to study at their own pace and connect with instructors and peers from around the world <br>
           we serve as a comprehensive digital hub dedicated to education and skill development. offering a vast array of courses spanning diverse topics, from academic subjects like mathematics, history, and science to professional skills such as programming, marketing, and project management.
        </div>
    </div>
</div>




<!--categories-->

<ul class="slider-collection owl-carousel owl-loaded owl-drag">








    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2681px;"><div class="owl-item active" style="width: 295.002px; margin-right: 40px;">
    <li class="collection-item">
        <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/be-your-own-boss/">
            <h4 class="name">Be Your Own Boss</h4>
            <div class="number-courses">9 courses</div>
        </a>
        <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
        <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-2.png" alt="Be Your Own Boss" class="" width="120" height="100">
    </li></div>
    <div class="owl-item active" style="width: 295.002px; margin-right: 40px;">
    <li class="collection-item">
        <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/certification-exam/">
            <h4 class="name">Certification Exam</h4>
            <div class="number-courses">10 courses</div>
        </a>
        <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
        <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-1.png" alt="Certification Exam" class="" width="109" height="109">
    </li></div>
    <div class="owl-item active" style="width: 295.002px; margin-right: 40px;">
    <li class="collection-item">
        <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/advance-career/">
            <h4 class="name">Advance Career</h4>
            <div class="number-courses">8 courses</div>
        </a>
        <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
        <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-4.png" alt="Advance Career" class="" width="84" height="96">
    </li></div>
    <div class="owl-item active" style="width: 295.002px; margin-right: 40px;">
    <li class="collection-item">
        <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/introductory-courses/">
            <h4 class="name">Introductory Courses</h4>
            <div class="number-courses">8 courses</div>
        </a>
        <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
        <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-1.png" alt="Introductory Courses" class="" width="109" height="109">
    </li></div>
    <div class="owl-item active" style="width: 295.002px; margin-right: 40px;">
    <li class="collection-item">
        <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/wordpress/">
            <h4 class="name">WordPress</h4>
            <div class="number-courses">13 courses</div>
        </a>
        <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
        <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-1.png" alt="WordPress" class="" width="109" height="109">
    </li></div>
    <div class="owl-item" style="width: 295.002px; margin-right: 40px;">
    <li class="collection-item">
        <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/business/">
            <h4 class="name">Business</h4>
            <div class="number-courses">14 courses</div>
        </a>
        <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
        <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-2.png" alt="Business" class="" width="120" height="100">
    </li></div>
    <div class="owl-item" style="width: 295.002px; margin-right: 40px;">
    <li class="collection-item">
        <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/design/">
            <h4 class="name">Design</h4>
            <div class="number-courses">8 courses</div>
        </a>
        <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
        <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-3.png" alt="Design" class="" width="121" height="121">
    </li></div>
    <div class="owl-item" style="width: 295.002px; margin-right: 40px;">
    <li class="collection-item">
        <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/software-development/">
            <h4 class="name">Software Development</h4>
            <div class="number-courses">12 courses</div>
        </a>
        <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
        <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-4.png" alt="Software  Development" class="" width="84" height="96">
    </li></div></div></div>
    <div class="owl-nav"><div class="owl-prev disabled">prev</div><div class="owl-next">next</div></div>
    <div class="owl-dots disabled"></div>
</ul>

@* <a href="/course/add" class="btn btn-info">Add course</a> *@

@* <a href="/Trainee/SearchForResult">Search for result</a> *@


@* <li class="collection-item">
    <a class="collection-wrapper" href="https://coursebuilder.thimpress.com/demo-kit/collections/be-your-own-boss/">
        <h4 class="name">Be Your Own Boss</h4>
        <div class="number-courses">9 courses</div>
    </a>
    <img class="background-collection" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/plugins/thim-course-builder/elements/courses-collection/assets/images/bl-collection.png" alt="bk_collection">
    <img loading="lazy" decoding="async" src="https://coursebuilder.thimpress.com/demo-kit/wp-content/uploads/sites/25/2019/10/collection-2.png" alt="Be Your Own Boss" class="" width="120" height="100">
</li> *@ 



